
<div class="jumbotron">
  <h1>Welcome...{{userdata.Name}}</h1>
  <p> you can view your blogs here....</p>
  <p><a class="btn btn-default writeblog-button float-right btn-lg"  (click)="writeBlog()" role="button">write blog</a></p>
</div>
<div class="blogsDiv">
<div class="row">
<!--   <div class="blogBox col-sm-6 col-md-3" ng-repeat="blog in blogDetails">
    <div class="thumbnail">
      <img src="app/shared/images/blog.png" alt="..." width="100px">
      <div class="caption">
        <h3>{{blog.writeName}}</h3>
        <p>{{blog.writeBlog}}</p>
        <p><a href="#" class="btn btn-default readMore-button" role="button">Read More</a> <a href="#" class="btn btn-default  comment-button" role="button">Comment</a></p>
      </div>
    </div>
  </div> -->

  <div class="blogBox col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="app/shared/images/blog.png" alt="..." width="100px">
      <div class="caption">
        <h3>Your Blogs</h3>
        <p>.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-default readMore-button" role="button">Read More</a> <a href="#" class="btn btn-default  comment-button" role="button">Comment</a></p>
      </div>
    </div>
  </div>


  <div class="blogBox col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="app/shared/images/blog.png" alt="..." width="100px">
      <div class="caption">
        <h3>Your Blogs</h3>
        <p>.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-default  readMore-button" role="button">Read More</a> <a href="#" class="btn btn-default comment-button" role="button">Comment</a></p>
      </div>
    </div>
  </div>

  <div class="blogBox col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="app/shared/images/blog.png" alt="..." width="100px">
      <div class="caption">
        <h3>Your Blogs</h3>
        <p>.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-default readMore-button" role="button">Read More</a> <a href="#" class="btn btn-default  comment-button" role="button">Comment</a></p>
      </div>
    </div>
  </div>


  <div class="blogBox col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="app/shared/images/blog.png" alt="..." width="100px">
      <div class="caption">
        <h3>Your Blogs</h3>
        <p>.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-default  readMore-button" role="button">Read More</a> <a href="#" class="btn btn-default  comment-button" role="button">Comment</a></p>
      </div>
    </div>
  </div> 
</div>

</div>
