<!-- <h1 class="form-Heading">
  {{title}}
</h1>

<div class="col-sm-6 form-div">
	<form>
  <div class="form-group col-sm-8">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group col-sm-8">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-default" (click)="getIn()">GetIn</button>
</form>
</div> -->

<router-outlet></router-outlet>
